<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Search</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>

<body>
  <header>header</header>
  <form action="/searches" method="post">
    
    <fieldset id="one">
      <input id="searchbar" type="text" name="search" placeholder="Enter a title or author" required>
    </fieldset>

    <fieldset id="two">
      Title 
      <input type="radio" value="title" name="search" required>
    </fieldset>

    <fieldset id="three">
      Author
      <input type="radio" value="author" name="search" required>
    </fieldset>

    <button type="submit">Search the GBooks API</button>
  </form>
  <footer><p>footer</p></footer>
</body>

</html>
<!-- //when we make a form with a post method the data from the form is available on the req.body
    //it is available via the input "name" -->