<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  <h1>Title</h1>
  <main>primary content box</main>
  <section>non primary content box. standalone
    <form action="/searches" method="post">
    //when we make a form with a post method the data from the form is available on the req.body
    //it is available via the input "name"

    </form>
  </section>
</body>
</html>